<div class="jumbotron">
  <h1>Search Early Childhood Music Classes</h1>
  <p class="lead">
    <form id="lesson_form" action="/show" method="POST">
    
      <label>Where are you?</label>
      <input type="text" name="address" autocomplete="on" placeholder="address">

      <label>How old is your child?</label>
      <select name="years">
        <%(0..6).each do |i| %>
          <option value="<%=i%>"><%=i%></option>
        <% end %>
      </select> years
      <select name="months">
        <%(0..11).each do |i| %>
          <option value="<%=i%>"><%=i%></option>
        <% end %>
      </select> months

      <label>When are you free?</label>
      <% ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"].each do |day| %>
      <table class="fix me later!" align="center">
        <tr>
          <td><%=day%></td>
          <td><input type="checkbox" name="daytimes[]" value="<%=day%> AM">AM</td>
          <td><input type="checkbox" name="daytimes[]" value="<%=day%> PM">PM</td>
        </tr>
      </table>
      <% end %>
  </p>
      <p><input type="submit" class="btn btn-lg btn-success" href="/show" role="button" value="Make Music!"></p>
    </form>
</div>