<% if @schools.present? && @lessons.present? %>
  <h3>Available Classes:</h3>
  <p>
  <div class="lesson_result">
    <% @sorted_hash.each do |school, lessons| %>
    <div class="row">
      <a target="_blank" href="<%= school.website %>"><%= school.name %></a> 
      <%= "(  #{(school.distance_from(@location)).round(2)}  miles )" if @location %></li>
        <% if @location %>
          <div class="school_img">
            <a href="http://maps.google.com/?q=<%= school.address %>" target="blank"><img src="http://maps.google.com/maps/api/staticmap?size=350x200&sensor=false&zoom=16&markers=<%=school.latitude%>%2C<%=school.longitude%>"></a>
          </div>
        <% end %>
        <% lessons.each do |lesson| %>
          <% if @lessons.include?(lesson) %>
            <ul>
              <li><%= lesson.name %></li>
              <ul>
                <li><%= lesson.daytimes_text.gsub("m, ", "m</li><li>") %></li>
              </ul>
            </ul>
          <% end %>
        <% end %>
        </div>
    <% end %>
  </div>
  </p>
<% else %>
  <h2>There are no classes that fit your criteria. <br><a href="/">Please try again</a>.</h2>
<% end %>